* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

@media screen and (min-width:768px) {
  .container {
    

  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar h3 {
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 30px;

  }

  .img-menu {
    position: relative;
    top: 20px;
    width: 80px;
    height: 80px;
  }

  .img-moon {
    position: relative;
    top: 20px;
    right: 5px;
    width: 80px;
    height: 80px;
  }
  	.list{
	  display: flex;
	  justify-content: space-between;
	  margin-top:30px;
	  margin-bottom: 10px;
	}

  .list a {
    border: 3px solid #c2d0a9;
    border-radius: 50px;
    padding: 10px;
    font-size: 40px;

  }
  	.action{
	  border: 3px solid #c2d0a9;
	  background-color: #eef3dd;
	}
	.list a:hover{
	  background-color: #eef3dd;
	}
  
  	.loading{
	  width: 100%;
	  height: 300px;
	  border-top: 2px solid #c2d0a9;
	  background-image: url('img/loading.jpg');
	}
	.loading p{
	  text-align: center;
	  position: relative;
	  top: 50px;
	  font-size: 50px;
	}
	.loading .btn-match{
	  color: #000;
	  background-color: #dff8b1;
	  padding: 10px;
	  border-radius: 30px;
	  border: 1px solid #c2d0a9;
	  position: relative;
	  top: 90px;
	  left: 40%;
	  font-size:30px;
	  font-weight: bold;
	  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}
  
 .loading .btn-match:hover{
   background-color:#ccc;
 }
  
  
  
  	.info{
	  margin: 10px 0px;
	  padding: 20px 0px;
	  
  	} 
  	.info h3{
	  padding: 0px 30px;
	  font-size:40px;
	}
	.info .info-text{
	  color: #ccc;
	  font-size:30px;
	  padding: 20px 30px;
	}
	
	.team1 {
	  width: 200px;
	  position: relative;
	  top:15%;
	  left:40px;
	  font-size:30px;
	}
	.team1-img{
	    width: 150px;
	    height: 150px;
	    position: relative;
	    top:10%;
	    left: 40px;

	  }
	 .team2-img{
	    width: 150px;
	    height: 150px;
	    position: relative;
	    float:right;
	    top: -25%;
	    right:70px;
	   
	  }
	.team2{
	  width: 200px;
	  float:right;
	  position: relative;
	  top: 10%;
	  right: -120px;
	  font-size: 30px;
	 
	}

  .card{
    width: auto;
    height: 500px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #ball{
	  width: 30px;
	  height: 30px;
	  position:relative;
	  top: 21%;
	  left:20%;
	}
	#ball-text {
	  position: relative;
	  top: 20%;
	  left:-10px;
	  font-size:30px;
	}

	#stad{
	  width: 30px;
	  height: 30px;
	  position: relative;
	  float: right;
	  top: 21%;
	  right: 20%;
	}
	#stad-text{
	  position: relative;
	  float: right;
	  top: 20%;
	  right:5px;
	  font-size:30px;
	}

	
		#home{
	  color: gray;
	  position: relative;
	  top: 20%;
	  left:60px;
	  font-size:25px;
	}
	#away{
	  color: gray;
	  position: relative;
	  float: right;
	  top: 20%;
	  right:-200px;
	  font-size:25px;
	}
		#status{
	  border:none;
	  border-radius: 30px;
	  width:200px;
	  position:absolute;
	  top:45%;
	  left: 40%;
	  font-size:30px;
	  text-align: center;
	  background-color: #e2c1ad;

	}
	#status2{
	  border: none;
	  border-radius: 30px;
	  width: 200px;
	  position: absolute;
	  top: 77%;
	  left: 40%;
	  font-size: 30px;
	  text-align: center;
	  background-color: #f2d99e;
	  z-index: 1000;
	}
		.goll{
	  position: relative ;
	  top: 5px;
	  left: 20%;
	  font-size: 60px;
	}
		.time{
	  position: relative;
	  top:-100px;
	  left: 35%;
	  font-size:30px;
	  font-weight: bold;
	}
	hr{
	  width:100%;
	  position:relative;
	  top:10%;
	  color: #ddd !important;
	  opacity: 0.5;
	}
	
	.card-img2{
	    width: 30%;
	    height: 30%;
	    background-image: url('img/Py2.png');
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position: center;
	    position:absolute;
	    top:72rem;
	    left:40%;
	    opacity: 0.1;
	    z-index:1000;
	  }
	
	.card-img3 {
	  width: 40%;
	  height: 40%;
	  background-image: url('img/Py3.png');
	  background-repeat: no-repeat;
	  background-size: contain;
	  background-position: center;
	  position: absolute;
	  top:520px;
	  left:30%;
	  opacity: 0.1;
	  z-index: 1000;
	}

 .fofo{
   border-radius:10px 10px 0 0;
   background-color: #fff;
   width: 100%;
   position:fixed;
   bottom:0;
   height: 200px;
   display: flex;
   justify-content:space-between;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 
 .fofo  a{
   margin: 25px 5px;
   position: relative;
   top:90px;
   left:30px;
   font-size: 30px;
 }
 .fofo a:nth-child(1){
   font-weight: bold;
 }
 
 
 .fofo #img-match,#img-news,
 #img-leg,#img-star{
   width: 80px;
   height: 80px;
   position:relative;
   top:10px;
   left:-100px;
 }
 .fofo #img-match{
   background-color: #ccc;
 }
 .fofo #img-news{
   left: -90px;
 }
 .fofo #img-leg{
   left: -90px;
 }
 .fofo #img-star{
   left:-100px;
 }


}

/*end @media */
@media screen and (max-width:600px) {
 img,.info,.fofo{
   display:none;
 }
 .container{
   border:2px solid red;
 }
     .navbar{
       margin-bottom:50px;
     }
      .navbar h3{
        font-size: 50px;
        text-align:center;
        position: relative;
        top:30px;
      }
      .list a{
	      border: 1px solid #c2d0a9;
	      border-radius: 50px;
	      padding:15px;
	      font-size: 40px;
      } 
   
      
}
/* end @media*/
